header {
    height: 70px;
    width: 100%;
    background-image: url("/images/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 20px;
    border-bottom: 1px #CCCCCC solid;
}